<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wong.remoteservice">

    <application>

        <service android:name=".MyService">
            <intent-filter>
                <action android:name="android.intent.action.com.wong.remoteservice.MY_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>